<div class="flex flex-wrap justify-center h-full content-center">
    <div class="login-container w-auto h-auto lg:w-1/4">


   <div class="login-info flex flex-col justify-center text-center mt-10 mb-5">
       <h1 class="text-sky-500">PRIJAVA</h1>
       <p class="text-stone-500 pl-10 pr-10 pt-4">Vpišite vaše uporabniško ime in geslo</p>
   </div>
   
   <div class="flex flex-wrap flex-col content-center ">
    <div class="flex flex-wrap flex-col justify-center w-9/12 lg:w-11/12 content-center">
    <input type="text" placeholder="Uporabniško ime" required class="username border-2 border-sky-300 w-11/12 p-1 mb-3 " #username>
    <input type="text" placeholder="Geslo" required class="password border-2 border-sky-300 w-11/12 p-1" #password>
    </div>
   </div>

   <div class=" flex flex-wrap justify-center content-center p-4 pb-10 mt-5 ">
    <div class="flex flex-wrap flex-col justify-center w-9/12 lg:w-11/12 content-center">
       <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4  rounded w-full" (click)="oddaj()">ODDAJ</button>
       </div>
   </div>

   </div>
  
</div>